body {
  margin: 0;
}
.contenedor-flexible {
  background-color: grey;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

.elemento-flexible {
  font-size: 5rem;
  color: black;
}
.uno {
  background-image: url("../hamburguesa2.jpg");
  background-color: turquoise;
  flex-basis: 100vh;
  flex-shrink: 1;
  flex-grow: 1;
  width: 50vw;
}
.dos {
  background-image: url("../papas.jpg");
  background-color: midnightblue;
  flex-basis: 50vh;
  flex-shrink: 1;
  flex-grow: 1;
  width: 50vw;
}
.tres {
  background-image: url("../hamburguesa1.jpg");
  background-color: powderblue;
  flex-basis: 50vh;
  flex-shrink: 1;
  flex-grow: 1;
  width: 50vw;
}
